import requests


def get_carbon_intensity(auth_token, lat, lon) -> float:
    request = f"""
        https://api.electricitymaps.com/v3/carbon-intensity/
        latest?lat={lat}&lon={lon}&temporalGranularity=hourly
    """
    response = requests.get(
        request,
        headers={ "auth-token": auth_token }
    ).json()
    return { "carbon_intensity": response["carbonIntensity"] }


def get_price_day_ahead(auth_token, lat, lon) -> dict:
    request = f"""
        https://api.electricitymaps.com/v3/price-day-ahead/
        latest?lat={lat}&lon={lon}&temporalGranularity=hourly
    """
    response = requests.get(
        request,
        headers={ "auth-token": auth_token }
    ).json()
    # todo: unit conversions if needed
    return { "value": response["value"] }


def get_electricity_mix(auth_token, lat, lon) -> dict:
    request = f"""
        https://api.electricitymaps.com/v3/electricity-mix/
        latest?lat={lat}&lon={lon}&temporalGranularity=hourly
    """
    response = requests.get(
        request,
        headers={ "auth-token": auth_token }
    ).json()
    # todo: unit conversions if needed
    mix = response["data"]["mix"]
    return mix


def get_energy_metrics(energy_auth_token, destinations) -> dict:
    """
    Retrieve carbon intensity data for each pulsar node.
    """
    influx_entries = {}

    for node, (lat, lon) in destinations.items():
        carbon_intensity = get_carbon_intensity(energy_auth_token, lat, lon)
        price_day_ahead = get_price_day_ahead(energy_auth_token, lat, lon)
        electricity_mix = get_electricity_mix(energy_auth_token, lat, lon)
        influx_entries[node] = f"""
            carbon_intensity={ carbon_intensity },
            price_day_ahead={ price_day_ahead },
            electricity_mix={ electricity_mix }
        """

    return influx_entries


# def get_energy_metrics() -> dict:
#     lat, lon = parse_args()
#     request_data = {
#         "carbon-intensity" : ["carbonIntensity"],
#         "price-day-ahead" : ["value", "unit"]
#     }
#     stats = {}

#     for datum in request_data:
#         stats[datum] = {}
#         request = f"""
#             https://api.electricitymaps.com/v3/{datum}/
#             latest?lat={lat}&lon={lon}&temporalGranularity=hourly
#         """
#         response = requests.get(
#             request,
#             headers={ "auth-token": "{{ energy_auth_token }}" }
#         ).json()
#         for key in request_data[datum]:
#             stats[datum][key] = response[key]
    
#     return stats
